# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin/
/build/

# ignore all target directories
/target/

# ignore all files ending with ~
*~

/.classpath
/.project

/logs/

/.settings

/.gradle

/gradlew
/gradlew.bat

/.settings
